html {font-size: 10px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: 'Ubuntu', sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
}
html{background-color:black;}
h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
    color: red;
    font-size: 60px;
    text-align: center;
  }
  h2{
    color:azure;
  }
  h3{
    font-size: 30px;
    color:rgb(128, 0, 255);
    width: 1300px;
    text-align: center;
    border: 1px solid rgb(226, 167, 19);
  }
  p{
    text-align: center;
    font-size: 60px;
    color:rgb(255, 0, 0);
  }
  button{
    color:rgb(0, 0, 0);
    background-color: aliceblue;
  }
  
  body {
    width: 1300px;
    height: 2000px;
    margin: 0 auto;
    background-color:rgb(26, 26, 26);
    padding: 0 20px 20px 20px;
    border: 1px solid rgb(221, 172, 47);
  }
  img{
    width: 1300px;
    height: 1000px;
  }